<!DOCTYPE html>
<html>
<head>
    <title>Salary Predictor</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"> -->

 
</head>
<body style="background-color:aquamarine;">
    <h1>Salary Predictor</h1>
    <form method="POST">
        <label for="work_year">Work Year:</label><br>        
        <select name="work_year">
            <option value="">--Select Year--</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select><br>
        <label for="employment_type">Employment Type:</label><br>
        <select name="employment_type">
            <option value="">--Select Type--</option>
            <option value="FT">Full Time</option>
            <option value="PT">Part Time</option>
            <option value="CT">Contract</option>
          </select><br>
          
        <label for ="job_title">Job Title:</label><br>
        <select name="job_title">
            <option value="">--Select Title--</option>
            <option value="Data Science Lead">Data Science Lead</option>
            <option value="Machine Learning Engineer">Machine Learning Engineer</option>
            <option value="Director of Data Science">Director of Data Science</option>
            <option value="Data Scientist">Data Scientist</option>
            <option value="Lead Data Analyst">Lead Data Analyst</option>
        </select> <br>
        <input type="submit" value="Submit">
    </form>


    
</body>
</html>





